* {
  font-family: Inter;
  background-color: #0f172a;
  color: #f1f5f9;
}

h1{
  text-align: center;
}

.list {
  padding-left: 580px;
}

li::marker {
  color: salmon;
}

div {
  margin-top: 40px;
}

a {
  text-decoration: none;
}